<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_name</key>
	<dict>
		<key>value</key>
		<string>Talent Game</string>
	</dict>
    <key>Address</key>
    <dict>
        <key>value</key>
        <string>地址</string>
    </dict>
    <key>AppInfo</key>
    <dict>
        <key>value</key>
        <string>人们做合适他们人才的工作时最有动力，效果和成功。这个愿景已经在TMA桌上游戏使用。通过游戏，你可以得到对许多问题的回复，如：我有什么才能？我能发展什么才能？我们的团队运动哪一个方向？我们如何能最好利用团队成员的能力？ TMA人才游戏包括44个人才卡和4个游戏方式和解释的卡。游戏是对每一个想发展人才的人是一个事实的工具。你可以一个人还是跟你团队成员一起玩。此外，这个游戏合适TMA专业人士和培训师。他们把这个游戏使用在个人和团队辅导。最后，TMA人才游戏帮助你使用游戏管理人才。参加TMA专业培训的人也会利用这种游戏。你是否想成为有认证的TMA专业人员，并使用科学工具？（包括在线的）你想以积极的方式充分利用人员和组织的才能吗？请通过info@tmamethod.com与我们联系或致电+31 30 2670444。</string>
    </dict>
    <key>Email</key>
    <dict>
        <key>value</key>
        <string>电子邮件</string>
    </dict>
    <key>FollowUsOn</key>
    <dict>
        <key>value</key>
        <string>跟随我们
        </string>
    </dict>
    <key>Game1</key>
    <dict>
        <key>value</key>
        <string>游戏1</string>
    </dict>
    <key>Game1_Description</key>
    <dict>
        <key>value</key>
        <string>
            1.把所有的天才卡放在桌子上。 2.从人才卡中选择你认出的八个天才卡。 3.想想你在工作环境中如何能使用这些才能。
            
        </string>
    </dict>
    <key>Game1_Title</key>
    <dict>
        <key>value</key>
        <string>游戏1：发现你自己的天才</string>
    </dict>
    <key>Game1_Title_Description</key>
    <dict>
        <key>value</key>
        <string>玩这种游戏以后，你可以了解你的才能。</string>
    </dict>
    <key>Game2</key>
    <dict>
        <key>value</key>
        <string>游戏2
            
        </string>
    </dict>
    <key>Game2_Description</key>
    <dict>
        <key>value</key>
        <string>1。首先选择你想发展什么。 例如，一个技能或能力，如进行谈判，帮助客户，合作等。2.把所有的人才卡放在一堆，然后选一张卡。 3。对你选择的每一张卡，你应该决定你是否有这个天才。 4.如果你没有这种天才，把卡放开，从堆中拿起另一张卡。 5.如果你选择合适你的天才卡，想想这个天才如何会帮助你发展一些能力。   6。继续选择卡，直到你有足够的才能可以帮助你的发展。
            
        </string>
    </dict>
    <key>Game2_Title</key>
    <dict>
        <key>value</key>
        <string>游戏2：个人发展</string>
    </dict>
    <key>Game2_Title_Description</key>
    <dict>
        <key>value</key>
        <string>有了这种类型的游戏，你可以了解什什么天才利用为了你自己的发展。</string>
    </dict>
    <key>Game3</key>
    <dict>
        <key>value</key>
        <string>游戏3</string>
    </dict>
    <key>Game3_Description</key>
    <dict>
        <key>value</key>
        <string>1.把所有的天才卡放在桌子上。 2.首先选择一个从其他参加者获得反馈的中心人。 3.其他人按顺序应该选择他们认为合适中心人的人才卡，把这个卡交给中心人。 4。当所有的参加者给中心人天才卡时，他还这些卡。 5.游戏继续直到每个参加者当过中心人。</string>
    </dict>
    <key>Game3_Title</key>
    <dict>
        <key>value</key>
        <string>游戏3:人才反馈</string>
    </dict>
    <key>Game3_Title_Description</key>
    <dict>
        <key>value</key>
        <string>至少3个人要玩这种游戏。游戏的目的是识别彼此的人才和名字。
        </string>
    </dict>
    <key>Game4</key>
    <dict>
        <key>value</key>
        <string>游戏4</string>
    </dict>
    <key>Game4_Description</key>
    <dict>
        <key>value</key>
        <string>1.把所有的天才卡放在桌子上。 2.选择一个起始人。起始人选择他/她认为是真正团队人才的人才卡，解释他/她为什么想这样。3.然后另一个人可以解释他/她觉得这是否是一个团队的天才。如果（几乎）大家都同意这是一个团队的天才，你把它命名为第一的团队人才。如果意见分歧太大，把人才卡放开。4.然后下一个人选择一个人才卡，他/她认为这是一个团队人才，并解释他/她为什么想这样。然后其他人也可以表示他们的意见。5.你应该继续，直到你有3到5个团队人才，（几乎）每个人都同意。6.设置团队人才的数量后，你可以相互讨论如何在团队工作中使用这些人才。</string>
    </dict>
    <key>Game4_Title</key>
    <dict>
        <key>value</key>
        <string>游戏4：团队的人才</string>
    </dict>
    <key>Game4_Title_Description</key>
    <dict>
        <key>value</key>
        <string>至少3个人要玩这种游戏。游戏的目标是找到团队的人才（作为一个整体）。</string>
    </dict>
    <key>Game5</key>
    <dict>
        <key>value</key>
        <string>游戏5</string>
    </dict>
    <key>Game5_Description</key>
    <dict>
        <key>value</key>
        <string>1.把所有的人才卡放在桌子上，背部向上。 2.选择一个起始人。 起始人打开两张随机卡。 如果两张卡有相同的动力（文字在右侧下），人应该保留这种卡，并命名他/她找到了什么动力，以及两张卡上写着什么天才（文字在左侧上）。 这个玩家可以再打开两张卡。 这继续，直到人打开两个不同的卡。3.然后是下一个玩家打开两张牌，并重复做2点内所述的动作。4.游戏继续直到所有的动力双被找到。 保留最多双的玩家获胜。</string>
    </dict>
    <key>Game5_Title</key>
    <dict>
        <key>value</key>
        <string>游戏5：人才和动力记忆
        </string>
    </dict>
    <key>Game5_Title_Description</key>
    <dict>
        <key>value</key>
        <string>你应该与2至4人玩这个游戏。 游戏的目的是找出哪些技能属于哪些动力。</string>
    </dict>
    <key>Game6</key>
    <dict>
        <key>value</key>
        <string>游戏6
        </string>
    </dict>
    <key>Game6_Description</key>
    <dict>
        <key>value</key>
        <string>5个游戏类型包括在TMA人才游戏。 我们邀请你自己想想游戏的类型。 如果你想与TMA社区交流你的意见，请把你的意见发送到TMA（info@tmamethod.com）或发布到TMA的LinkedIn班。 可能你的游戏类型将被包括在人才游戏应用。 TMA团队</string>
    </dict>
    <key>Game6_Title</key>
    <dict>
        <key>value</key>
        <string>游戏6：设计你自己的游戏类型</string>
    </dict>
    <key>Game6_Title_Description</key>
    <dict>
        <key>value</key>
        <string></string>
    </dict>
    <key>Linkedin</key>
    <dict>
        <key>value</key>
        <string>Linkedin</string>
    </dict>
    <key>Phone</key>
    <dict>
        <key>value</key>
        <string>电话</string>
    </dict>
    <key>TMAMethode</key>
    <dict>
        <key>value</key>
        <string>TMA方法</string>
    </dict>
	
    <key>Twitter</key>
    <dict>
        <key>value</key>
        <string>推特</string>
    </dict>
    <key>TwitterId</key>
    <dict>
        <key>value</key>
        <string>tma方式</string>
    </dict>
    <key>Website</key>
    <dict>
        <key>value</key>
        <string>网站</string>
    </dict>
    <key>app_name</key>
    <dict>
        <key>value</key>
        <string>TMA人才游戏</string>
    </dict>
    <key>btn_Games</key>
    <dict>
        <key>value</key>
        <string>游戏</string>
    </dict>
    <key>btn_contact</key>
    <dict>
        <key>value</key>
        <string>联系</string>
    </dict>
    <key>btn_facebook</key>
    <dict>
        <key>value</key>
        <string>Facebook</string>
    </dict>
    <key>btn_info</key>
    <dict>
        <key>value</key>
        <string>信息</string>
    </dict>
    <key>btn_linkedin</key>
    <dict>
        <key>value</key>
        <string>Linkedin</string>
    </dict>
    <key>btn_media</key>
    <dict>
        <key>value</key>
        <string>媒体</string>
    </dict>
    <key>changeLanguage</key>
    <dict>
        <key>value</key>
        <string>改变语言</string>
    </dict>
    <key>contactText</key>
    <dict>
        <key>value</key>
        <string>TMA方法是一个集成的系统，用于选择和发展员工，其中人才和技能是关键。 TMA方法作为在线服务被提供，用于能力和人才管理，360度反馈，设置职业中心，评估，TMA人才评估，MD发展，流动性问题，讨论，职业和工作访谈。</string>
    </dict>
    <key>dimension1_text</key>
    <dict>
        <key>value</key>
        <string>情感平衡</string>
    </dict>
    <key>dimension2_text</key>
    <dict>
        <key>value</key>
        <string>动力</string>
    </dict>
    <key>dimension3_text</key>
    <dict>
        <key>value</key>
        <string>社会人才</string>
    </dict>
    <key>dimension4_text</key>
    <dict>
        <key>value</key>
        <string>有影响力的人才</string>
    </dict>
    <key>dimension5_text</key>
    <dict>
        <key>value</key>
        <string>领导人才</string>
    </dict>
    <key>dimension6_text</key>
    <dict>
        <key>value</key>
        <string>组织人才</string>
    </dict>
    <key>launching_app_name</key>
    <dict>
        <key>value</key>
        <string>人才游戏</string>
    </dict>
    <key>locale_lang</key>
    <dict>
        <key>value</key>
        <string>语言_文化</string>
    </dict>
    <key>title_activity_Games</key>
    <dict>
        <key>value</key>
        <string>游戏</string>
    </dict>
    <key>title_activity_app_info</key>
    <dict>
        <key>value</key>
        <string>信息</string>
    </dict>
    <key>title_activity_contact</key>
    <dict>
        <key>value</key>
        <string>联系</string>
    </dict>
    <key>title_activity_media</key>
    <dict>
        <key>value</key>
        <string>媒体</string>
    </dict>
    <key>title_drives_alphabetical</key>
    <dict>
        <key>value</key>
        <string>动力按字母顺序</string>
    </dict>
    <key>Talent1</key>
    <dict>
        <key>value</key>
        <string>野心和挑战</string>
    </dict>
    <key>Talent2</key>
    <dict>
        <key>value</key>
        <string>尊敬</string>
    </dict>
    <key>Talent3</key>
    <dict>
        <key>value</key>
        <string>秩序和结构</string>
    </dict>
    <key>Talent4</key>
    <dict>
        <key>value</key>
        <string>外向性</string>
    </dict>
    <key>Talent5</key>
    <dict>
        <key>value</key>
        <string>独立思考和活动</string>
    </dict>
    <key>Talent6</key>
    <dict>
        <key>value</key>
        <string>传染性和联系</string>
    </dict>
    <key>Talent7</key>
    <dict>
        <key>value</key>
        <string>社会同情</string>
    </dict>
    <key>Talent8</key>
    <dict>
        <key>value</key>
        <string>需要支撑</string>
    </dict>
    <key>Talent9</key>
    <dict>
        <key>value</key>
        <string>统治</string>
    </dict>
    <key>Talent10</key>
    <dict>
        <key>value</key>
        <string>自尊</string>
    </dict>
    <key>Talent11</key>
    <dict>
        <key>value</key>
        <string>同情心 </string>
    </dict>
    <key>Talent12</key>
    <dict>
        <key>value</key>
        <string>多样性</string>
    </dict>
    <key>Talent13</key>
    <dict>
        <key>value</key>
        <string>坚持 </string>
    </dict>
    <key>Talent14</key>
    <dict>
        <key>value</key>
        <string>精力和行动</string>
    </dict>
    <key>Talent15</key>
    <dict>
        <key>value</key>
        <string>对峙</string>
    </dict>
    <key>Talent17</key>
    <dict>
        <key>value</key>
        <string>随大流</string>
    </dict>
    <key>Talent18</key>
    <dict>
        <key>value</key>
        <string>需要获得威望</string>
    </dict>
    <key>Talent21</key>
    <dict>
        <key>value</key>
        <string>责任感和领导力</string>
    </dict>
    <key>Talent22</key>
    <dict>
        <key>value</key>
        <string>实用主义</string>
    </dict>
    <key>Talent25</key>
    <dict>
        <key>value</key>
        <string>决策</string>
    </dict>
    <key>Talent27</key>
    <dict>
        <key>value</key>
        <string>目的性</string>
    </dict>
    <key>Talent29</key>
    <dict>
        <key>value</key>
        <string>压力管理</string>
    </dict>
    <key>TalentImageTitle_18_789</key>
    <dict>
        <key>value</key>
        <string>出色的，自豪的</string>
    </dict>
    <key>TalentImageTitle_18_123</key>
    <dict>
        <key>value</key>
        <string>谦卑的，温和的</string>
    </dict>
    <key>TalentImageTitle_12_789</key>
    <dict>
        <key>value</key>
        <string>有很多类型的，面向环境</string>
    </dict>
    <key>TalentImageTitle_12_123</key>
    <dict>
        <key>value</key>
        <string>锋利的焦点，集中的</string>
    </dict>
    <key>TalentImageTitle_1_789</key>
    <dict>
        <key>value</key>
        <string>有竞争性的，注重成就</string>
    </dict>
    <key>TalentImageTitle_1_123</key>
    <dict>
        <key>value</key>
        <string>满足的，有透视感</string>
    </dict>
    <key>TalentImageTitle_25_789</key>
    <dict>
        <key>value</key>
        <string>有进取心的，解决问题</string>
    </dict>
    <key>TalentImageTitle_25_123</key>
    <dict>
        <key>value</key>
        <string>灵活的，考虑</string>
    </dict>
    <key>TalentImageTitle_17_789</key>
    <dict>
        <key>value</key>
        <string>正式，整体</string>
    </dict>
    <key>TalentImageTitle_17_123</key>
    <dict>
        <key>value</key>
        <string>非正式，开创性的</string>
    </dict>
    <key>TalentImageTitle_15_789</key>
    <dict>
        <key>value</key>
        <string>自信的，明确的</string>
    </dict>
    <key>TalentImageTitle_15_123</key>
    <dict>
        <key>value</key>
        <string>宽恕的，宽容的</string>
    </dict>
    <key>TalentImageTitle_27_789</key>
    <dict>
        <key>value</key>
        <string>面向目标，具体</string>
    </dict>
    <key>TalentImageTitle_27_123</key>
    <dict>
        <key>value</key>
        <string>面向过程,即兴创作</string>
    </dict>
    <key>TalentImageTitle_9_789</key>
    <dict>
        <key>value</key>
        <string>领导的，令人信服</string>
    </dict>
    <key>TalentImageTitle_9_123</key>
    <dict>
        <key>value</key>
        <string>影响他人巧妙，兼容</string>
    </dict>
    <key>TalentImageTitle_10_789</key>
    <dict>
        <key>value</key>
        <string>自信，有弹性的</string>
    </dict>
    <key>TalentImageTitle_10_123</key>
    <dict>
        <key>value</key>
        <string>避免错误，自我批评</string>
    </dict>
    <key>TalentImageTitle_14_789</key>
    <dict>
        <key>value</key>
        <string>有进取心的，非常精力充沛</string>
    </dict>
    <key>TalentImageTitle_14_123</key>
    <dict>
        <key>value</key>
        <string>平静，耐心的</string>
    </dict>
    <key>TalentImageTitle_4_789</key>
    <dict>
        <key>value</key>
        <string>值得注意，在场的</string>
    </dict>
    <key>TalentImageTitle_4_123</key>
    <dict>
        <key>value</key>
        <string>不知不觉，给别人空间</string>
    </dict>
    <key>TalentImageTitle_2_789</key>
    <dict>
        <key>value</key>
        <string>值得尊重，敬佩其他人</string>
    </dict>
    <key>TalentImageTitle_2_123</key>
    <dict>
        <key>value</key>
        <string>平等，跟其他人打交道</string>
    </dict>
    <key>TalentImageTitle_8_789</key>
    <dict>
        <key>value</key>
        <string>感谢，请其他人的支持</string>
    </dict>
    <key>TalentImageTitle_8_123</key>
    <dict>
        <key>value</key>
        <string>独立，需要少许支持</string>
    </dict>
    <key>TalentImageTitle_29_789</key>
    <dict>
        <key>value</key>
        <string>稳定，免疫应激</string>
    </dict>
    <key>TalentImageTitle_29_123</key>
    <dict>
        <key>value</key>
        <string>忠诚的，担心的</string>
    </dict>
    <key>TalentImageTitle_11_789</key>
    <dict>
        <key>value</key>
        <string>适应性强的 ，以服务为主</string>
    </dict>
    <key>TalentImageTitle_11_123</key>
    <dict>
        <key>value</key>
        <string>着边，委托任务</string>
    </dict>
    <key>TalentImageTitle_7_789</key>
    <dict>
        <key>value</key>
        <string>同情的，外交的</string>
    </dict>
    <key>TalentImageTitle_7_123</key>
    <dict>
        <key>value</key>
        <string>简单的，有几些功能</string>
    </dict>
    <key>TalentImageTitle_6_789</key>
    <dict>
        <key>value</key>
        <string>友好的，平易 近人的</string>
    </dict>
    <key>TalentImageTitle_6_123</key>
    <dict>
        <key>value</key>
        <string>关注事实，有几些功能</string>
    </dict>
    <key>TalentImageTitle_13_789</key>
    <dict>
        <key>value</key>
        <string>喜欢工作，完成任务</string>
    </dict>
    <key>TalentImageTitle_13_123</key>
    <dict>
        <key>value</key>
        <string>容易放开，改变方向</string>
    </dict>
    <key>TalentImageTitle_5_789</key>
    <dict>
        <key>value</key>
        <string>自主的，有自己的意见</string>
    </dict>
    <key>TalentImageTitle_5_123</key>
    <dict>
        <key>value</key>
        <string>以团队为主，透明的</string>
    </dict>
    <key>TalentImageTitle_21_789</key>
    <dict>
        <key>value</key>
        <string>有负责性，坦率的</string>
    </dict>
    <key>TalentImageTitle_21_123</key>
    <dict>
        <key>value</key>
        <string>顺从的，会接受别人的意见</string>
    </dict>
    <key>TalentImageTitle_3_789</key>
    <dict>
        <key>value</key>
        <string>准确的，有条理的</string>
    </dict>
    <key>TalentImageTitle_3_123</key>
    <dict>
        <key>value</key>
        <string>有创造性，灵活的</string>
    </dict>
    <key>TalentImageTitle_22_789</key>
    <dict>
        <key>value</key>
        <string>实习的，有效的</string>
    </dict>
    <key>TalentImageTitle_22_123</key>
    <dict>
        <key>value</key>
        <string>理论上的，抽象的</string>
    </dict>
</dict>
</plist>
